@import '~bootstrap/scss/bootstrap';
@import 'colors.scss';
@import url('https://fonts.googleapis.com/css?family=Arvo|Varela+Round');

* {
  font-family: 'Varela Round', sans-serif;
}
.hidden {
  display: none;
}

.block {
  display: block;
}

.strike {
  text-decoration: line-through;
}

.success-message {
  color: #2cb42c; // bright-green
}

.error-message {
  color: red;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  background-color: #c7dbf4; //light-blue background on focus
}

.navbar,
.user-panel {
  background-color: $navbar-maroon;
  legend {
    color: white;
  }
}

.sign-in-btn,
.sign-up-btn,
.sign-out-btn,
.chg-pass-btn,
.get-all-item-btn {
  border-color: $button-blue;
  color: $button-blue;
}

.sign-out-btn,
.chg-pass-btn,
.get-all-item-btn,
.delete-image-btn,
.delete-image-form,
.sign-in-form,
.sign-up-form,
.change-password-form {
  display: none;
}

.site-name {
  font-family: 'Arvo', serif;
}

.upload-section,
.item-wall {
  width: 65%;
  margin: 0 auto;
  text-align: center;
}

.upload-area {
  margin-top: 10px;
}
.disclaimer {
    font-size: 16px;
  }
